################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IIoTEngTool/v16/Server/sqlite3
/.vs/IIoTEngTool
/IIoTEngTool/obj
/IIoTEngTool/bin/Debug/netcoreapp3.0
