@page "/counter"

@using IIoTEngTool.Services
@using Microsoft.AspNetCore.Authentication.AzureAD.UI;
@using Microsoft.Azure.IIoT.OpcUa.Services.App.TokenStorage;
@using IIoTEngTool.Registry;
@using Microsoft.AspNetCore.Http;

@inject AzureADOptions AzureADOptions
@inject TwinServiceApiOptions TwinServiceOptions
@inject ITokenCacheService TokenCacheService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor HttpContextAccessor



<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;

        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync();

        var user = HttpContextAccessor.HttpContext.User;

        //StartupTwinServices registry = new StartupTwinServices(AzureADOptions, TwinServiceOptions, TokenCacheService, authState.Result.User);
        //Startup.RegistryServiceInstance.ConfigureRegistryService();
        //Startup.RegistryServiceInstance.ConfigureTwinService();
        //var supervisor = Startup.RegistryServiceInstance.RegistryService.ListSupervisors();
        ////var supervisor = RegistryServiceInstance.ListSupervisors();
        //var x = 2;

    }
}
