@page "/"

@using Microsoft.Azure.IIoT.OpcUa.Services.App.TokenStorage;
@using IIoTEngTool.Services


@inject ITokenCacheService TokenCacheService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<h1>IIoT Engineering Tool</h1>


@code {

    protected override async Task OnInitializedAsync()
    {
        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync();
        var cache = await TokenCacheService.GetCacheAsync(authState.Result.User);

        BehalfOfTokenProvider.Authorize = Authorize;

        if (cache.Count == 0)
        {
            NavigationManager.NavigateTo("AzureAD/Account/SignIn");
        }
    }

    public void Authorize()
    {
        NavigationManager.NavigateTo("AzureAD/Account/SignIn", true);
    }
}