@page "/"

@using Microsoft.AspNetCore.Http;
@using Microsoft.Azure.IIoT.OpcUa.Services.App.TokenStorage;
@using Microsoft.AspNetCore.Authentication.AzureAD.UI;
@using IIoTEngTool.Services
@using IIoTEngTool.Registry

@inject IHttpContextAccessor HttpContextAccessor
@inject ITokenCacheService TokenCacheService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AzureADOptions AzureADOptions
@inject TwinServiceApiOptions TwinServiceOptions
@inject NavigationManager NavigationManager
@inject RegistryService RegistryService

<h1>Hello, world!</h1>
Welcome to your new app.


@code {

    protected override async Task OnInitializedAsync()
    {
        HttpContext httpContext = HttpContextAccessor.HttpContext;
        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync();

        var cache = await TokenCacheService.GetCacheAsync(authState.Result.User);
        var contextAcessor = new HttpContextAccessor();

        //if (Startup.RegistryServiceInstance == null)
        //{
        //    Startup.RegistryServiceInstance = new StartupTwinServices(AzureADOptions, TwinServiceOptions, TokenCacheService, contextAcessor);
        //}

        BehalfOfTokenProvider.Authorize = Authorize;

        if (cache.Count == 0)
        {
            NavigationManager.NavigateTo("AzureAD/Account/SignIn");
        }
    }

    public void Authorize()
    {
        NavigationManager.NavigateTo("AzureAD/Account/SignIn", true);
    }
}